.icon-social-facebook-circular:before {
    content: "\e900";
  }

/* sizes */
$mob : 375px;
$desk : 1440px;

/* Primary colors */
$c-pink : hsl(322, 100%, 66%); 
$c-pcyan : hsl(193, 100%, 96%) ;
$c-dcyan :  hsl(192, 100%, 9%);
$c-gblue :hsl(208, 11%, 55%);

/* fonts*/
$f-size : 18px;
